.box-container-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: transparent; */
    background: rgba(255, 255, 255, 0.1);
    width: 250px;
    height: 250px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    /* border: 1px solid rgb(185, 185, 185); */
    /* box-shadow: 0px 0px 20px rgb(185, 185, 185); */
}
.box-container-img img {
    position: relative;
    top: -40px;
}

.box-decorate {
    position: absolute;
    left: 0;
    top: 20px;
    /* background-color: #00e5ac; */
    width: 200px;
    height: 50px;
    transform: rotate(-15deg);
    z-index: -10;
}

.box-decorate::before {
    content: '';
    position: absolute;
    top: 40px;

    /* background-color: #00e5ac; */
    width: 200px;
    height: 50px;
    transform: rotate(-20deg);
}

.box-decorate::after {
    content: '';
    position: absolute;
    top: 70px;
    left: 10px;
    /* background-color: #00e5ac; */
    width: 350px;
    height: 50px;
    transform: rotate(-7deg);
}

.box-decorate2 {
    position: absolute;
    top: 120px;
    left: 50px;
    /* background-color: #00e5ac; */
    width: 350px;
    height: 60px;
    transform: rotate(-40deg);
    z-index: -10;
}

.box-decorate2::before {
    content: '';
    position: absolute;
    top: 50px;
    /* background-color: #00e5ac; */
    width: 250px;
    height: 50px;
    transform: rotate(20deg);
}

/* .box-decorate2::after {
    content: '';
    position: absolute;
    top: 100px;

    background-color: burlywood;
    width: 250px;
    height: 50px;
    transform: rotate(5deg);
} */
.spin-container {
    width: 100%;
    height: 100%;
    animation: spin 12s linear infinite;
    position: relative;
}

.shape {
    transition: border-radius 1s ease-out;
    border-radius: 23% 77% 61% 39% / 69% 42% 58% 31%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* z-index: 5; */
    background-image: linear-gradient(45deg, #00edb2, #00edb2);
    /* border: 1px solid black; */
    animation: morph 15s ease-in-out infinite both alternate, spin 10s linear infinite reverse;
}

/* .bd {
    background-image: linear-gradient(45deg, #005ff0, #005ff0);

    background-position: center center;

    animation: spin 15s linear infinite reverse;
    opacity: 1;
  
} */

.back-user {
    z-index: 100;
}

.back-user::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(223, 248, 113, 0.801);
    width: 100%;
    height: 100%;
    z-index: -100 !important    ;
    /* backdrop-filter: blur(1000px); */

    border-radius: 51% 49% 46% 54% / 71% 72% 28% 29%;
    z-index: -110;
}
.back-user::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 230, 174, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 23% 77% 61% 39% / 71% 72% 28% 29%;
    backdrop-filter: hue-rotate(250deg);
}
@keyframes morph {
    0% {
        border-radius: 31% 69% 56% 44% / 37% 33% 67% 63%;
    }
    50% {
        border-radius: 59% 41% 73% 27% / 29% 64% 36% 71%;
    }
    70% {
        border-radius: 39% 61% 62% 38% / 29% 64% 36% 71%;
    }

    100% {
        border-radius: 31% 69% 62% 38% / 70% 64% 36% 30%;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.border-text {
    z-index: -1;
    padding: 0;
    margin: 0;
    position: absolute;
    /* color: black; */
    line-height: 50px;
    color: black;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    text-shadow: -1px -1px 0 #654ec4, 1px -1px 0 #654ec4, -1px 1px 0 #654ec4, 1px 1px 0#654EC4;
}
.text {
    position: absolute;
    color: #13b368;
    z-index: -1;
    animation: wave 3s ease-in-out infinite;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 50px;
    font-size: 50px;
    padding: 0;
    margin: 0;
}
.text2 {
    top: 100px;

    line-height: 45 px;
}
.text3 {
    font-size: 40px;
    top: 200px;
    line-height: 50px;
}
.text4 {
    font-size: 20px;
    top: 200px;
}
@keyframes wave {
    0%,
    100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
