.bubbles span {
    width: 15px;
    height: 15px;
    background: #e7fe55;
    /* border: 1px solid white; */
    border-radius: 50%;
    margin: 0 4px;
    box-shadow: 0 0 0 10px #e7fe5544, 0 0 50px #e7fe55, 0 0 100px #e7fe55;
    animation: animate 10s linear infinite;
}
.bubbles span:nth-child(1) {
    animation-duration: calc(20s / 12);
}
.bubbles span:nth-child(2) {
    animation-duration: calc(20s / 13);
}
.bubbles span:nth-child(3) {
    animation-duration: calc(20s / 15);
}
.bubbles span:nth-child(4) {
    animation-duration: calc(20s / 17);
}
.bubbles span:nth-child(5) {
    animation-duration: calc(10s / 16);
}
.bubbles span:nth-child(6) {
    animation-duration: calc(20s / 11);
}
.bubbles span:nth-child(7) {
    animation-duration: calc(10s / 14);
}
.bubbles span:nth-child(8) {
    animation-duration: calc(20s / 19);
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    /* animation-duration: calc(10s / 14); */
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
